.search-wrapper {
  width: 70%;
  margin: auto;
}

.search-input input {
  width: 50%;
  padding: 5px;
  margin: 5px 0px 0px;
  height: 30px;
  line-height: 20px;
  outline: none;
}

.title {
  margin: 10px 0;
}

.group {
  background: rgb(241, 238, 233);
  padding: 15px;
  margin-top: 12px;
}
